body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    width: 400px;
    margin: 30px auto;
}
input{
    box-sizing: border-box;
    padding: 15px;
    font-size: 16px;
    border: 1px solid lightgray;
    border-radius: 12px;
    margin-bottom: 12px;
    width: 100%;
}

.btn{
    background-color: black;
    padding: 16px 30px;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    color: white;
    cursor: pointer;
}
input:focus{
    outline: none;
    border: 1px solid rgb(0, 128, 255);
}


.card{
    border: 1px solid lightgray;
    display: flex;
    gap:20px;
    padding: 8px;
    border-radius: 12px;
}