body{
    background-color: rgb(20, 20, 20);
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    width: 700px;
    margin: 10px auto;
    display: flex;
}
input{
    color: white;
    width: 80%;
    padding: 16px;
    font-size: 18px;
    border: none;
    background-color: rgba(132, 132, 132, 0.289);
}
input:focus{
    outline: none;
    border: none;
}
.btn{
    background-color: red;
    border:none;
    color: white;
    padding: 16px;
    font-size: 16px;
    width: 20%;
    cursor: pointer;
}

.movie-container{

    width: 700px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.861);
}
p{
    font-weight: bold;
    color: rgba(255, 231, 207, 0.892);

}
span{
    
    font-weight: normal;
    color: rgba(255, 255, 255, 0.76);
}
.mt0{
    margin-top: 0;
}