body{
    margin: 0;
    background-color: rgb(16, 16, 16);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.search{
    width: 700px;
    margin: 30px auto;
    display: flex;
}
.search-field{
    width: 650px;
    padding: 16px;
    border:2px solid #474747;
    background-color: #474747;
    font-size: 18px;
    color: white;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.search-field:focus{
    outline: none;
    

}
.search-btn{
    background-color: red;
    color: white;
    font-size: 18px;
    padding: 16px 30px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border: none;
}
.movie-container{
    width: 700px;
    margin: 30px auto;
    display: flex;
}
.poster{
    width: 260px;
    border-radius: 12px;
}

.details{
    color: rgba(255, 255, 255, 0.931);
}
.details p{
    color: rgb(212, 212, 212);
    font-weight: bold;
    width: 440px;
    font-size: 17px;
}
.value{
    color: white;
    font-weight: normal;
}
.ratings{
    background-color: #fff;
    padding: 3px 12px;
    border-radius: 4px;
    font-size: 14px;
    color: black;
    display: inline-block;
}