body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    width: 500px;
    margin: 50px auto;
    text-align: center;
}
.btn{
    background-color: black;
    color: white;
    padding: 16px 32px;
    border-radius: 12px;
    border: none;
    font-size: 16px;
}
#counter{
    font-size: 60px;
}