body{
    background-color: rgb(31, 31, 31);
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.search{
    width: 700px;
    margin: 50px auto;
    display: flex;
}
input{
    padding: 17px;
    font-size: 18px;
    border-radius: 12px 0 0 12px;
    width: 540px;
    border: 1px solid rgba(106, 106, 106, 0.05);
    background-color: rgba(106, 106, 106, 0.05);
    color: white !important;
}
input:focus{
    outline: none;
    border: 1px solid rgba(117, 117, 117, 0.591);
    background-color: rgb(117, 117, 117, 0.591);
}
.btn{
    background-color: red;
    color: white;
    font-size: 18px;
    border:none;
    border-radius: 0 12px 12px 0;
    cursor: pointer;
}
.movieDetails{
    width: 700px;
    margin: 20px auto;
    color: rgba(255, 255, 255, 0.596);
    font-weight:500;
    display: flex;
    justify-content: space-between;
}
p span{
    font-weight: normal;
    color: rgba(255, 255, 255, 0.898);
}
#title{
    margin-top: 0;
}